@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato');

.box {
  width: 100%;
  height: 350px;
  background: #FFFFFF;
  overflow: hidden;
}
#center-text{
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  padding-left: 50px;
  padding-right: 50px;
}
#title{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.50rem;
  text-align: left;
}
#des {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  padding-top: 15px;
}
.box-img {
  width: 100%;
  height: 350px;
  background-image: url(../img/java_code.jpg);
  background-size: 100% 350px;
  overflow: hidden;
}
.box-img2 {
  width: 100%;
  height: 350px;
  background-image: url(../img/programming1.jpg);
  background-size: 100% 350px;
  overflow: hidden;
}
.box-img3 {
  width: 100%;
  height: 350px;
  background-image: url(../img/java_code.jpg);
  background-size: 100% 350px;
  overflow: hidden;
}
.box.hover .top {
  -webkit-animation: slideTop 0.2s cubic-bezier(0.19, 1, 0.77, 0.8) forwards;
  animation: slideTop 0.2s cubic-bezier(0.19, 1, 0.77, 0.8) forwards;
}
.box.hover .right {
  -webkit-animation: slideRight 0.2s cubic-bezier(0.19, 1, 0.77, 0.8) forwards;
  animation: slideRight 0.2s cubic-bezier(0.19, 1, 0.77, 0.8) forwards;
}
.box.hover .bottom {
  -webkit-animation: slideBottom 0.2s cubic-bezier(0.19, 1, 0.77, 0.8) forwards;
  animation: slideBottom 0.2s cubic-bezier(0.19, 1, 0.77, 0.8) forwards;
}
.box.hover .left {
  -webkit-animation: slideLeft 0.2s cubic-bezier(0.19, 1, 0.77, 0.8) forwards;
  animation: slideLeft 0.2s cubic-bezier(0.19, 1, 0.77, 0.8) forwards;
}
.box.out .top {
  -webkit-animation: slideTopOut 0.2s cubic-bezier(0.19, 1, 0.77, 0.8);
  animation: slideTopOut 0.2s cubic-bezier(0.19, 1, 0.77, 0.8);
}
.box.out .right {
  -webkit-animation: slideRightOut 0.2s cubic-bezier(0.19, 1, 0.77, 0.8);
  animation: slideRightOut 0.2s cubic-bezier(0.19, 1, 0.77, 0.8);
}
.box.out .bottom {
  -webkit-animation: slideBottomOut 0.2s cubic-bezier(0.19, 1, 0.77, 0.8);
  animation: slideBottomOut 0.2s cubic-bezier(0.19, 1, 0.77, 0.8);
}
.box.out .left {
  -webkit-animation: slideLeftOut 0.2s cubic-bezier(0.19, 1, 0.77, 0.8);
  animation: slideLeftOut 0.2s cubic-bezier(0.19, 1, 0.77, 0.8);
}
.box .bar {
  position: absolute;
  background-color: #1E90FF;
}
.box .top {
  width: 100%;
  height: 0.8rem;
  top: 0;
  left: -100%;
}
.box .right {
  width: 0.8rem;
  height: 100%;
  top: -100%;
  right: 0;
}
.box .bottom {
  width: 100%;
  height: 0.8rem;
  bottom: 0;
  right: -100%;
}
.box .left {
  width: 0.8rem;
  height: 100%;
  top: 100%;
  left: 0;
}

@-webkit-keyframes slideTopOut {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes slideTopOut {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slideRightOut {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes slideRightOut {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes slideBottomOut {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@keyframes slideBottomOut {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@-webkit-keyframes slideLeftOut {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@keyframes slideLeftOut {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@-webkit-keyframes slideTop {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideTop {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes slideRight {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes slideRight {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes slideBottom {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes slideBottom {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes slideLeft {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes slideLeft {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
